[submodule "CLAP"]
	path = CLAP
	url = https://github.com/lmcad-unicamp/CLAP
[submodule "HighPerformanceSeismicStacking"]
	path = HighPerformanceSeismicStacking
	url = https://github.com/lmcad-unicamp/HighPerformanceSeismicStacking
